.search-wrapper{
    font-family: 'Mukta', sans-serif;
    padding: 10px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2em;
}

.search-wrapper .filters-wrapper{
    width: 26%;
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    margin-right: 6px
}

.filter-wrapper-mobile .price .title{
    border: 1px solid black;
    margin-bottom: 0;
}
.filters-wrapper{
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}
.filters-wrapper .price{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.25);
}
.filters-wrapper .title-bar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4px 0;
    margin-top: 4px;
}
.filters-wrapper .title-bar .title{
    font-size: .95em;
}
.filters-wrapper .title-bar button{
    border: 0;
    background-color: var(--mainColor2);
    font-family: inherit;
    font-size: .84em;
    width: 70px;
    height: 30px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 5px 2px rgba(0,0,0,.25);
    display: inline-block;
}
.filters-wrapper .values-wrapper{
    display: flex;
    box-sizing: border-box;
    padding: 4px 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.filters-wrapper .values-wrapper input{
    width: 50px;
    height: 27px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    border: .5px solid rgba(0,0,0,.4);
    border-radius: 2px;
}
.filters-wrapper  input:focus{
    border: .5px solid rgba(0,0,0,.4);
    outline: none;
}
.filters-wrapper .values-wrapper .fiminus{
    background-color: .5px solid rgba(0,0,0,.1);
    font-size: .95em;
}

.filters-wrapper .discount-wrapper{
    margin-top: 10px;
}
.filters-wrapper #demo-radio-buttons-group-label{
    color: black;
}
.filters-wrapper .discount-wrapper input{
    font-size: .1em;
}

/* radio button stylings */
.filters-wrapper .discount-wrapper .MuiTypography-root{
    font-size: 0.8em;
}
.filters-wrapper .control{
    font-size: 0.5em
}
.filters-wrapper .discount-wrapper .MuiFormControlLabel-root .MuiFormControlLabel-label{
    /* border: 1px solid black */
}
/* .filters-wrapper .discount-wrapper .MuiFormControlLabel-root .MuiRadio-root{
    width: .5em;
    height: .5em;
} */
.filters-wrapper .discount-wrapper .MuiFormControlLabel-root .MuiSvgIcon-root{
    width: .9em;
    height: .9em;
}

/* company stylings  */
.filters-wrapper .MuiBox-root{
    margin-top: 20px;
}
.filters-wrapper .MuiBox-root .select{
    height: 35px;

}
.filters-wrapper .MuiBox-root #demo-simple-select-label{
    line-height: 140%;
    top: -8px;
    font-family: 'Mukta', sans-serif;
}

.filters-wrapper .MuiBox-root .select-label-after{
    top: 0;
}

.filters-wrapper .MuiBox-root .MuiSvgIcon-root{
    font-size: 1.3em;
}

/* free shipping */
.filters-wrapper #checkbox{
}
.filters-wrapper .MuiFormGroup-root .MuiCheckbox-root .MuiSvgIcon-root{
    height: 20px;
    width: 20px;
}

.filters-wrapper .MuiFormGroup-root .MuiFormControlLabel-root .MuiTypography-root{
    font-size: 0.75em
}

/* clear filter styling */
.filters-wrapper #clear-filter-btn{
    display: block;
    border: 0;
    width: 100%;
    margin: 10px 0;
    font-family: inherit;
    font-size: .8em;
    background-color: var(--mainColor1);
    color: white;
    box-shadow: 1px 2px 7px 2px rgba(0,0,0,.3);
}

/* searct product list */
.search-wrapper .product-list-wrapper{
    width: 74%;
}

.search-wrapper .product-list-wrapper .navbar{
    width: 100%;
    display: flex;
    margin-bottom: 7px;
    justify-content: space-between;    
    align-items: center;
}
.product-list-wrapper .navbar .title{
    font-size: 0.9em;
    margin-left: 3px;
    color: rgba(0,0,0,.7);
}


.search-wrapper .product-list{
    display: inline-block;
    background-color: white;
    box-sizing: border-box;
    margin-left: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    height: max-content;
    box-sizing: border-box;
}

.search-wrapper .product-list-wrapper-twoProducts{
    width: 51%;
}

.search-wrapper .product-list-wrapper-oneProducts{
    width: 25%;
}
.search-product{
    width: calc(98% /3);
    box-sizing: border-box;
    height: max-content;
}
.search-product-twoProducts{
    width: calc(98% /2);
}
.search-product-oneProducts{
    width: 100%;
}
.search-product img{
    height: 260px;
}
.search-product p{
    margin-bottom: 0;
}
@media (max-width: 1124px){
 
    .search-wrapper{
        font-size: 1.1em;
        width: 990px
    }
    .filters-wrapper .title-bar .title{
        font-size: 1.05em;
    }
    .filters-wrapper .price input{
        font-size: .75em;
    }
    .filters-wrapper #demo-radio-buttons-group-label{
        font-size: .85em;
    }
    .search-wrapper .product-list{
        font-size: 0.95em;
    }
    .search-product{
        width: calc(97.8% /3);
    }
    .search-product img{
        height: 230px;
    }
    .search-wrapper .product-list-wrapper-twoProducts{
        width: 49%;
    }
    .search-product-twoProducts{
        width: calc(98.2% /2);
    }
    .search-wrapper .product-list-wrapper-oneProducts{
        width: 25%;
    }
    .search-product-oneProducts{
        width: 100%;
    }
}
@media (max-width: 1012px){
    
    .search-wrapper{
        font-size: 1.1em;
        width: 940px
    }
    .search-wrapper .filters-wrapper{
        /* width: 230px; */
    }
    .filters-wrapper .title-bar .title{
        font-size: 1em;
    }
    .filters-wrapper .price input{
        font-size: .75em;
    }
    .filters-wrapper #demo-radio-buttons-group-label{
        font-size: .85em;
    }
    .search-wrapper .product-list{
        /* width: 680px; */
        font-size: 0.95em;
    }
    .search-product{
        width: calc(97.5% /3);
    }
    .search-wrapper .product-list-wrapper-twoProducts{
        width: 49%;
    }
    .search-product-twoProducts{
        width: calc(98.2% /2);
    }
    .search-wrapper .product-list-wrapper-oneProducts{
        width: 25%;
    }
    .search-product-oneProducts{
        width: 100%;
    }
}

/* The mobile view */
@media (max-width: 962px){
    .search-container{
        width: inherit;
        /* overflow-x: hidden; */
        font-size: 1.2em;
        font-family: 'Mukta', sans-serif;
    }
    .search-wrapper-mobile{
        background-color: transparent;
        width: 100%;
        padding-left: 6px;
        padding-right: 6px;
        box-sizing: border-box;
    }
    .filters-wrapper-mobile{
        display: block;
        /* width: calc(inherit - 5px) */
    }

    
    .filters-wrapper .MuiList-root{
        margin-right: 0;
    }
    .filters-wrapper .MuiFormControl-root{
        margin-right: 0;
    }
    .filters-wrapper .MuiBox-root{
        margin-right: 0;
    }
    .filter-wrapper-mobile{
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        transition: left 500ms ease-in-out;
    }
    .filter-wrapper-mobile-open{
        left: 0;
    }
    .filter-wrapper-mobile-close{
        left: -100%;
    }

    .filter-wrapper-mobile .filter-nav{
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 50px;
        margin: 0;
        box-sizing: border-box;
        border-bottom: 3px solid rgba(190,190,190,.2)
    }
    .filters-wrapper .search-IoIosArrowForward{
        margin-right: 15px;
        height: 20px;
        width: 20px;
        padding: 5px;
        border-radius: 50%;
        transition: 500ms background-color ease-in-out;
        transform: rotate(180deg);
        background-color: rgba(0,0,0,0);
    }
    .filters-wrapper .search-IoIosArrowForward:hover{
        background-color: rgba(0,0,0,.2);
    }
    .filters-wrapper h3{
        font-family: 'Mukta', sans-serif;
        font-size: 1.1em;
        font-weight: 500;
    }


    .filters{
        background-color: white;
    }
    .filter-wrapper-mobile #minmaxInput1{
        width: 32%;
    }
    .filter-wrapper-mobile #minmaxInput2{
        width: 32%;
    }
    .filter-wrapper{
        margin: 0;
        padding: 0;
    }
    .filters-wrapper .filters{
        padding: 0 12px;
        box-sizing: border-box;
    }
    .product-list-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: transparent;
        gap: 5px;
    }
    .search-product-mobile img{
        margin-bottom: 0;
    }
    .search-product-mobile #name-id{
        margin: 0;
    }
    .search-product-mobile{
        width: 48.98vw;
    }
    .search-product-mobile{
        height: 620px;
    }
    .search-product-mobile img{
        height: 50vw;
    }
    .filter-wrapper-mobile #clear-filter-btn{
        font-size: .9em;
    }
    .search-container .mobile-bottom-btn{
        position: sticky;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mainBKColor);
        padding: 0;
        height: 35px;
        background-color: var(--mainColor1);
        font-family: 'Mukta', sans-serif;
        margin: 10px 0;
    }
    .search-container .mobile-bottom-btn button{
        font-family: 'Mukta', sans-serif;
        border: 0;
        width: 49%;
        height: 40px;
        background-color: transparent;
        font-size: .9em;
        color: white;
        
    }
    .search-container .mobile-bottom-btn #selectLabels-FormControl{
        width: 49%;
        height: 40px;
        justify-content: center;        
        color: white;
        font-family: 'Mukta', sans-serif;
    }
    .search-container .mobile-bottom-btn hr{
        height: 100%;
        background-color: rgba(190,190,190,1);
    }
    .search-container #clear-filter-btn{
        box-shadow: 0px 0px transparent;
    }
}
@media (max-width: 832px){
    .product-list-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: transparent;
        gap: 5px;
    }
    .search-product-mobile{
        width: calc((100% - 5px)/2);
    }
    .search-product-mobile{
        height: calc(50vw + 150px);
    }
    .search-product-mobile img{
        height: 50vw;
    }
    .search-product-mobile .discount .price-format{
        font-size: 1.3em;
    }
}
@media (max-width: 755px){
    .search-product-mobile{
    }
}
@media (max-width: 703px){
    .product-list-wrapper .navbar .title{
        font-size: .8em;
    }
    .search-product-mobile{
        width: calc((100% - 5px)/2);
    }
    .search-product-mobile img{
        height: 330px;
    }
    .search-wrapper-mobile{
        padding-left: 4px;
        padding-right: 4px;
    }
    .search-product-mobile{
        height: calc(330px + 144px);
    }
}
@media (max-width: 613px){
    .search-product-mobile{
        width: calc((100% - 5px)/2);
        font-size: .67em;
    }
    .search-product-mobile img{
        height: 300px;
    }
    .search-wrapper-mobile{
        padding-left: 4px;
        padding-right: 4px;
    }
    .search-product-mobile{
        height: calc(300px + 144px);
    }

}
@media (max-width: 557px){
    .product-list-wrapper .navbar .title{
        font-size: .7em;
    }
    .search-product-mobile img{
        height: 51vw;
    }
    .search-wrapper-mobile{
        padding-left: 4px;
        padding-right: 4px;
    }
    .search-product-mobile{
        height: calc(51vw + 144px);
    }

}
@media (max-width: 447px){
    .search-product-mobile img{
        height: 52vw;
    }
    .search-product-mobile{
        height: calc(52vw + 134px);
    }
    .filter-wrapper-mobile{
        font-size: .85em;
    }
    .company-container .MuiFormControl-root .MuiFormLabel-root{
        transform: translateY(12px);
        padding-left: 4px; 
    }
    .company-container .MuiFormControl-root .MuiInputBase-root{
        height: 25px;
        outline: none;
    }
    .filter-wrapper-mobile .MuiFormLabel-root{
        font-size: .8em;
    }
}

@media (max-width: 400px){
    #closeFilter{
        font-size: .8em;
    }
}
@media (max-width: 371px){
    .search-product-mobile img{
        height: 52vw;
    }
    .search-product-mobile #name-id{
        font-size: 12px;
    }
    .search-product-mobile .discount{
        font-size: 12px;
    }
    .search-product-mobile{
        height: calc(52vw + 124px);
    }

}
