/*middle view of home*/
.productAds{
    width: 52vw;
    height: 310px;
    position: relative;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.productAds img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.prev, .next{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 70px;
    background-color: black;
    top: 133.5px;
    opacity:0.3;
    color: white;
    cursor: pointer;
    border: 0;
}
.next{
    right: 0;
}
.productAds img{
    transition: all 300ms ease-in-out;
}
.nextSlide{
    right: -50vw;
}
img.activeSlide{
    right: 0;
    opacity: 1;
}
.lastSlide{
    right: 50vw;
}
.productAds .arrowNewIcon{
    height: 100%;
    width: 100%;
    border-radius: 140px;
    margin: 0;
}
.slideRadar-wrapper{
    position: absolute;
    bottom: 10px;
    left: calc(25vw - 50px);
    width: 90px;
}
.slideRadar{
    display: inline-block;
    margin: 0 5px;
    height: 8px;
    width: 8px;
    border-radius: 10px;
}
.nextRadar{
    background-color: white;
}
.activeRadar{
    background-color: var(--mainColor1);
}