@media (max-width: 1150px){
    /* style of visual category */
    .visualCategories-wrapper{
        overflow-x: scroll;
        margin-top: 10px;
        background-color: white;
        padding: 10px 0;
        width: 100%;
    }
    .homepage .visualCategories{
        width: max-content;
        padding: 5px 0;
    }
    .visualCategory{
        display: inline-block;
        margin: 0 5px;
    }
    .visualCategory img{
        height: 120px;
        width: 140px;
        border-radius: 30px;
    }
    .visualCategory p{
        text-transform: capitalize;
        font-size: .86em;
        text-align: center;
        margin: 0;
    }
    
}
@media(max-width: 962px){
    .visualCategories-wrapper{
        display:block;
    }
}
@media (max-width: 676px){
    .visualCategory img{
        height: 110px;
        width: 130px;
        border-radius: 30px;
    }
    .visualCategory p{
        font-size: .82em;
    }
    
}
@media (max-width: 560px){
    .visualCategory img{
        height: 85px;
        width: 105px;
        border-radius: 24px;
    }
    .visualCategory p{
        font-size: 0.75em;
    }
}
@media (max-width: 462px){
    .visualCategories{
        display: flex;
        justify-content: center;
    }
    .visualCategories .visualCategory{
        margin: 0 5px;
        width: 80px;
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
    }
    .visualCategories .visualCategory img{
        margin: 0;
        width: 100%;
        height: 70px;
        border-radius: 24px;
    }
    .visualCategories .visualCategory p{
    }
}
@media (max-width: 358px){
    .visualCategories .visualCategory{
        margin: 0 5px;
        width: 68px;
    }
    .visualCategories .visualCategory img{
        margin: 0;
        width: 100%;
        height: 63px;
        border-radius: 17px;
    }

}