 .googlelogin{
    border: 1px solid rgba(0,0,0,0.3) !important;
    opacity:1 !important;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.3) !important;
    height: 27px;
    background-color: rgb(9, 40, 180);
}
 .googlelogin div {
    box-sizing: border-box;
    font-size: .3em;
    margin: 0;
    height: 100%;
    width: 30px;
}
 .googlelogin div svg{
    font-size: .3em;
    transform: translate(-6px, -3.5px);
    margin: 0;
}
 .googlelogin span{
    height: 10px;
    line-height: 11px;
    font-family: 'Mukta', sans-serif;
    color: black !important;
    padding: 0 40px;
    margin: 0;
    text-align: left;
    transform: translateX(-11px);
    position: static;
    flex-basis: 30px;
    flex-grow: 30;
    font-size: 1.1em;
}