.button-id-spin-animation{
    display: flex;
    justify-content: center;
    align-items: center;

}
#loading-circle{
    display: block;
    height:19px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .2);
    width: 19px;
    border-top-color: rgba(255, 255, 255, 1);
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg)
    }
}