.reset-password #second-btn{
    transform: translateX(0px);
    margin-top: 10px;
    font-size: 0.9em;
}

@media (max-width: 425px){

    .reset-password #input1, .reset-password #input2{
        width: 97%;
    }

    .reset-password #first-btn, .reset-password #second-btn{
        width: 100%;
    }
    .reset-password #input1, .reset-password #input2{
        width: 97%;
    }
    .reset-password #reset-password-btn{
        width: 100%;
    }
}

