
#account-main{
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.input-wrapper small{
    font-family:'Mukta', sans-serif;
    font-size: .75em;
    color: rgb(0,0,0);
    padding: 0;
    margin: 0;
    color: rgb(214, 29, 29)
}

#form-wrapper-id ,#form-wrapper-id span{
    display: block;
}
#form-wrapper-id a{
    text-decoration: underline;
}
.form-wrapper{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding-bottom: 0;
}
.form-wrapper .logo{
    display: block;
    width: 140px;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
}
.form-wrapper img{
    width: 100%;
    height: 100%;
}
.form-wrapper form{
    border: .5px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border-radius: 8px;
}
.form-wrapper form h2{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#form-id .text-input{
    width: 340px;
    display: block;
    height: 35px;
    margin: 4px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border: .5px solid rgba(0,0,0,0.2);
    padding-left: 4px;
    padding-right: 4px;
    /* margin-left: auto;
    margin-right: auto; */
}
#form-id .checkbox-wrapper{   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    transform: translateX(-113px);
    margin-top: 10px;
}
#form-id .checkbox-wrapper input{
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}
#form-id .checkbox-wrapper span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8em;
    margin-left: 2px;
}   

#form-id .agreement{
    font-size: 0.81em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    width: 347px;
    color: rgba(0,0,0,0.9);
    margin-top: 9px;
}
#form-id .agreement a{
    color: rgba(0,0,0,0.9);
}
#form-id button{
    margin-top: 7px;
    width: 349px;
    padding: 7px 0;
    font-size: .84em;
    background-color: rgb(9, 40, 180);
    border: 1px solid rgb(9, 40, 180);;
    height: 33px;
    box-sizing: border-box;    
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#form-id .signup-option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-family:Arial, Helvetica, sans-serif;
}
#form-id .signup-option p{
    margin-right: 5px;
    color: rgba(0,0,0,0.8);
}
#form-id .signup-option a{
    margin: 0 2px;
}
#form-id .signup-option .facebook{
    height: 35px;
    width: 35px;
    color: rgb(9, 40, 180);
    margin: 0 auto;
}
#form-id .signup-option .google{
    height: 35px;
    width: 35px;
}

#form-id p{
    font-size: 0.9em;
}
#form-id .login{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 0.8px solid rgba(0,0,0,0.2);
    border-radius: 0;
    padding: 7px 0;
    width: 102%;
    transform: translateX(-2.5px);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color .2s ease-in-out, border .2s ease-in-out;
}
#form-id .login:hover{
    border: 0.8px solid transparent;

    background-color: rgba(212, 211, 211, 0.6);
}

@media (max-width: 484px){
    .form-wrapper{
        padding: 0;
    }
}
@media (max-width: 465px){
    .form-wrapper{
        padding: 0;
    }
}
@media (max-width: 425px){
    .form-wrapper .logo{
        display: block;
        width: 117px;
        height: 36px;
    }
    .form-wrapper{
        width: 100vw;
        border: 0;
    }
    #form-id{
        border: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .form-wrapper form h2{
        font-size: .9em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


    #form-id .text-input{
        width: 310px;
        display: block;
        height: 31px;
        margin: 3px 0;
        border-radius: 4px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        outline: none; 
        border: 1px solid rgba(0,0,0,0.3);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #form-id .checkbox-wrapper{   
        padding: 4px 0;
        transform: translateX(-97px);
        margin-top: 10px;
    }
    #form-id .checkbox-wrapper input{
        width: 14px;
        height: 14px;
        margin: 0;
        display: inline-block;
    }
    #form-id .agreement{
        width: 311px;
        font-size: 0.8em;
    }
    #form-id button{
        width: 313px;
    }
    #form-id .signup-option{
    }
    #form-id .signup-option p{
        margin-right: 5px;
    }
    #form-id .signup-option p{
        margin-left: 3px;
        font-size: 0.83em;
    }
    #form-id .signup-option .facebook{
        height: 28px;
        width: 28px;
    }
    #form-id .signup-option .google{
        height: 28px;
        width: 28px;
    }
    
    
    #form-id .login{
        width: 312px;
        font-size: .8em;
    }
}
@media (max-width: 356px){
    .form-wrapper .logo{
        display: block;
        width: 110px;
        height: 33px;
    }
    #form-id{
        width: 270px;
    }
    #form-id h2{
        font-size: 0.77em
    }
    #form-id .text-input{
        width: 260px;
    }
    #form-id .checkbox-wrapper{
        margin-left: 48px;
    }
    #form-id .agreement{
        width: 269px;
    }
    #form-id button{
        width: 271px;
    }
    #form-id .login{
        width: 269px;
    }
}