strong{
    display: block;
}
.about-product-and-customer-review{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.about-product-section{
    font-family: 'Mukta', sans-serif;
    margin: 0;
    margin-top: 10px;
    /* position: relative; */
    order: 1;
    width: 70%;
}
.description-wrapper{
    border: .4px solid rgba(0,0,0,0.1);
    width: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px 15px;
}
.description-wrapper h3{
    margin-top: 7px;
    margin-bottom: 12px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.description{
    margin: 0;
    font-size: 0.98em;
}
.description p{
    margin: 0
}
.description h4{
    font-weight: 500;
}
.description p{
    margin: 0;
    font-weight: 300;
    line-height: 22px;
    margin-top: 15px;
}




/* ---------------  productMiniShow  .......  This is the product information shoein gon the left of product descriptions section  ----------------- */
.productMiniShow{
    position: sticky;
    top: 100px;
    width: 330px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 9px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    height: max-content;
    order: 2;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Mukta', sans-serif;
}
.productMiniShow img{
    flex-grow: 2;
    width: 35%;
    height: 130px;
    margin-right: 2px;
}
.productMiniShow .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2px;
    padding: 4px 6px;
    flex-grow: 7;
    width: 55%;
    /* flex-grow: 7; */
    border-radius: 7px;
}
.productMiniShow .info #title-id{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-weight: 500;
    font-size: 0.8em;
    text-overflow: ellipsis;
}

.productMiniShow .title{
    margin-bottom: 0;
    margin-top: 0;
}
.productMiniShow .info .price{
    text-decoration: line-through;
    font-size: 0.8em;
    margin-left: 3px;
    margin-right: 3px;
    color: rgba(0,0,0,0.4);
}
.productMiniShow .info .discount-rate{
    font-size: 0.8em;
}
.productMiniShow #discount-price-id{
    background-color: transparent;
    color: black;
    font-size: 1.2em;
}
.productMiniShow .rating-wrapper .stars-wrapper .star{
    font-size: 0.75em;
}
.productMiniShow .rating-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
}
.productMiniShow #addToCart-btn{
    
    display: inline-block;
    font-size: 1.1em;
    font-family: 'Mukta', sans-serif;
    padding:3px 5px;
    width: 100%;
    font-size: 1em;
    border: 0;
    border-radius: 4px;
    box-shadow: .5px 1.5px 5px rgb(87, 87, 87);
    background-color: var(--mainColor1);
    color: white;
    margin-top: 20px;
    border-radius: 0;
}


@media (max-width: 1222px){
    .about-product-and-customer-review{
    }
    .about-product-section{
        width: 66%;
    }
    .productMiniShow{
        margin-left: 1.8%;
        width: 32%;
    }

}
@media (max-width: 1200px){
    
    .productMiniShow img{
        height: 104px;
    }
    .productMiniShow .title{
        margin-bottom: 0;
        margin-top: 0;
    }
    .productMiniShow .price-wrapper{
    }
}
@media (max-width: 960px){
    .productMiniShow .info .rating-wrapper{
        display: block;
        clear: right;
    }
    .productMiniShow .info .rating-wrapper .stars-wrapper{
        display: block;
    }
    .productMiniShow #addToCart-btn{
        margin-top: 0;
    }
}
@media(max-width: 900px){
    .productMiniShow{
        padding: 5px;
        width:24%;
    }
    .about-product-section{
        width: 74%;
    }
    .productMiniShow img{
        display: none;
    }
    .productMiniShow .info .price-wrapper{
        padding: 0;
        height: 24px;
        line-height: 24px;
    }
    .productMiniShow .info .rating-wrapper{
        margin-top: 0;
    }
    .productMiniShow .info .rating-wrapper .stars-wrapper{
        margin-bottom: -10px;
    }
}
@media (max-width: 863px) {
    .wrapper{
        margin: 0;
        padding: 0;
    }
    .productMiniShow{
        display: none;
    }
    .about-product-section{
        width: 100%;
    }
    .description-wrapper{
        border: 0;
        border-radius: 0;
    }
}
@media (max-width: 780px){
    .about-product-and-customer-review{
        width: 500px;
    }
    
    .about-product-section{
        margin: 0 15px;
    }
    .about-product-section{
        margin: 0;
        margin-top: 10px;

    }
}
@media (max-width: 780px){
    .about-product-and-customer-review{
        margin: 0;
        margin-top: 10px;
    }
    .about-product-section{
    }
    .about-product-section article *{
        margin-top: 0;
    }
    .about-product-section .description-wrapper{
        padding: 0;
        width: inherit;
    }
    .about-product-section .description-wrapper article{
        font-size: 0.95em;
        font-weight: 500;
    }
    .about-product-section .description-wrapper{
        box-sizing: border-box;
    }
    .description-wrapper .heading{
        padding: 7px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 26px;
        /* box-sizing: border-box; */
        border-bottom: .5px solid rgba(0,0,0,0.1);;
    }
    .description-wrapper .title{
        font-weight: 500;
        border: 0;
        padding: 0;
        height: 100%;
        padding: 10px;
        line-height: 140%;
    }
    .description-wrapper .description{
        padding: 10px;
        box-sizing: border-box;
    }
    .specifications .listed-from-array, .specifications .listed-from-object{
        border-radius: 0;
        /* box-shadow: .6px .1px 3px rgba(0,0,0,0.2); */
        border: 0;
    }

    /* styling for seller information dropdown */

    .seller-information{
        height: max-content;
    }
    .seller-performance-wrapper{
        overflow-y: hidden;
        height: 0;
    }

    .description-wrapper .heading .title{
        text-transform: uppercase;
        font-size: 1em;
    }
    .description-wrapper .heading .arrow-btn{
        font-size: 1.3em;
        border-radius: 50%;
        padding: 4px;
        margin-right: 10px;
        transition: transform 250ms ease-in-out;
    }
    .description-wrapper .description{
        transition: all 250ms ease-in-out;
    }
    .description-wrapper .heading .arrow-btn:hover{
        background-color: rgba(97, 151, 172, 0.3);
    }
    .description-wrapper .heading .arrow-btn-dropDown{
        transform: rotate(90deg);
    }
    .description-wrapper .description{
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow-y: hidden;
    }
    .description-wrapper #description-dropDown{
        height: max-content;
        padding-top: 10px;
        padding-bottom: 10px;
        overflow-y:visible;
    }
}
@media (max-width: 670px){
    .description-wrapper .title{
        font-size: 1.1em;
    }
}
@media (max-width: 472px){
    .description-wrapper .title{
        font-size: 1em;
        line-height: 170%;
    }
}
