.flashSales-wrapper{
    width: 1200px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
    background-color: white;    
    font-family: 'Nunito', sans-serif;
}
.flashSales-header{
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
}
.flashSales-header h2{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 100px;
    color: rgb(238, 50, 50);
    font-family: 'Nunito', sans-serif;
}
.count-down-wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.count-down-wrapper p{
    color: rgba(0,0,0,0.4);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
}
.count-down{
    margin-left: 15px;
    display: block;
}
.count-down span{
    display: inline-block;
    background-color: rgba(0,0,0,1);
    color: white;
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 1em;
    font-weight: 700;
}
.count-down .time-colon{
    background-color: white;
    color: black;
    font-weight: 700;
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flashSales-header a{
    display: inline-block;
    position: absolute;
    right: 20px;
    font-family: sans-serif;
    font-size: 0.9em;
    transition: all 350ms ease-in-out;
}
.flashSales-header a:hover{
    background-color: rgba(14, 99, 168, 0.2);
    padding: 4px;
    border-radius: 5px;
}
.flashSales-product-wrapper{
    display: flex;
    padding: 0 20px;
}
.flashSales-product{
    width: max-content;
    position: relative;
    width: 17%;
    margin: 0 5px;
}
.flashSalesFirstProduct{
    margin-left: 0;
}
.flashSalesLastProduct{
    margin-right: 0;
}
.flashSales-product img{
    width: 100%;
    height: 14vw;
}
.flashSales-product .price{
    display: inline-block;
    padding: 3px 5px;
    font-weight: 700;
    margin: 0;
    font-size: 1em;
}
.flashSales-product .discount{
    display: inline-block;
    background-color: rgb(218, 42, 42);
    color: white;
    padding: 1px 3px;
    border-radius: 6px;
    margin: 0;
    font-size: 0.95em;
}
.flashSales-product .price p{
    border: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.flashSales-product .left{
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.6)
}
@media (max-width: 1170px){
    .flashSales-product .discount{
        position: absolute;
        top: 0;
        left: 0;
        font-size: .8em;
    }
    .flashSales-product .price{
        font-size: .9em;
        padding: 0;
    }
    .flashSales-product .left{
        padding: 0;
        margin: 0;
        color: rgba(0,0,0,0.4)
    }
}
@media (max-width: 962px){
    .flashSales-wrapper{
        width: 100vw !important
    }
    .flashSales-product {
        width:33vw;
    }
    .flashSales-product img{
        height: 30vw;
    }
    .left-of-flashSales h2{
        display: block;
    }
    .left-of-flashSales .count-down-wrapper{
        margin-bottom: 15px;

    }
    .left-of-flashSales p{
        font-size: 1em;
        color: rgba(0,0,0,0.7);
    }
    .left-of-flashSales .count-down{
        font-size: .8em;
    }
}
@media (max-width: 500px){
    .flashSales-header h2{
        font-size: 1.3em;
    }
    .flashSales-header p{
        font-size: .95em;
    }
    .flashSales-header .count-down{
        font-size: .76em;
    }
    .flashSales-product .discount{
        font-size: .7em;
    }
}
@media (max-width: 416px) {
    .flashSales-header h2{
        font-size: 1.1em;
        margin-top: 5px;
        margin-bottom: 0;
    }
}
@media (max-width: 400px){
    .flashSales-header .count-down{
        margin-left: 0;
    }
    .flashSales-header .count-down-wrapper p{
        display: none;
    }
    .flashSales-product .price{
        font-size: .8em;
    }
    .flashSales-product .left{
        font-size: .85em;
    }
}
@media (max-width: 308px){
    .flashSales-product .price{
        font-size: .76em;
    }
}